.breakout {

  padding: 1rem;
  margin-bottom: 2rem;
  font-size: .875rem;
  /*background-color: $extralightgray;*/
  border: 1px solid $secondarycolor;
  border-top-right-radius: 2rem;

  & h3 {
    margin-bottom: 2rem;
    font-family: $font-medium;
    font-size: 1.5rem;
    color: $primarycolor;

    @include breakpoint($large-start) {
      font-size: 1.75rem;
    }
    
  }

  h4 {
    padding-bottom: .5rem;
    padding-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    border-bottom: 1px solid rgba($blue, .23);
  }

  & h6 {
    line-height: 1.65;
    font-family: "gotham-medium";
  }

  & p {
    font-size: inherit;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
