.btn {

  display: inline-block;
  margin-bottom: 0;
  font-family: $font-book;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px $primarycolor;
  border: 0;
  background-image: none;
  background-color: transparent;
  white-space: nowrap;
  transition: box-shadow .15s linear, color .15s linear, background-color .15s linear;

  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
  
  &:hover, &:focus {
    text-decoration: none;
  }

  /*
   * Button variations
   */

  &--default {
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  }

  &--audience {
    .page-students & {
      @include button-variant($studentscolor, $btn-primary-bg, $studentscolor);
    }

    .page-residents & {
      /*@include button-variant($residentscolor, $btn-primary-bg, $residentscolor);*/
      @include button-variant($residentscolor, $btn-primary-bg, $residentscolor);
    }

    &,
    .page-physicians & {
      @include button-variant($physicianscolor, $btn-primary-bg, $physicianscolor);
    }

  }

  &--primary, &--red {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  }

  &--reverse-secondary {
    @include button-variant($btn-reverse-color, $secondarycolor, $btn-reverse-border);
    &:hover {
      /*box-shadow: inset 0 0 0 1px darken($secondarycolor, 8%);*/
      color: $white;
      background-color: darken($secondarycolor, 8%); 
    }
  }

  &--reverse-primary {
    @include button-variant($btn-reverse-color, $primarycolor, $btn-reverse-border);
    &:hover {
      /*box-shadow: inset 0 0 0 1px darken($secondarycolor, 8%);*/
      color: $white;
      background-color: darken($primarycolor, 8%); 
    }
  }

  &--reverse {
    @include button-variant($btn-reverse-color, $btn-primary-bg, $btn-reverse-border);
    &:hover {
      box-shadow: inset 0 0 0 1px $primarycolor;
      color: $white;
      background-color: $primarycolor; 
    }
  }

  &--solid {
    @include button-variant($btn-reverse-color, $primarycolor, $primarycolor);
    &:hover {
      box-shadow: inset 0 0 0 1px $primarycolor;
      color: $primarycolor;
      background-color: $white; 
    }
  }

  /*
   * Button colors
   */
  &--red {
    @include button-variant($red, $btn-primary-bg, $red);
  }

  &--blue {
    @include button-variant($blue, $btn-primary-bg, $blue);
  }

  &--purple {
    @include button-variant($purple, $btn-primary-bg, $purple);
  }

  /*
   * Button sizes
   */

  &--xs {
    @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
  }

  &--sm {
    @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-small, $line-height-base, $btn-border-radius-base);
  }

  &--lg {
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-small, $btn-border-radius-large);
  }

  /*
   * Button utilities
   */
  &--wide {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  

}

.omed-button {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
