.elit-accordion {
  & .accordion-head {
    @extend h4;
    padding: 1.5rem 0;
    line-height: 1.4;
    font-family: $font-medium;
    color: $primarycolor;
  }

  & section:not(:last-child) > .accordion-head:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $primarycolor;
  }
}

.elit-accordion__items section i.elit-accordion__icon:after, 
.elit-accordion__items section i.elit-accordion__icon:before {
  background-color: $secondarycolor !important;
}
