%gradient-position-base {
  position: relative;
  transform-origin: 50% 50%;
  backface-visibility: hidden;
}

%leadin-base {
  & h4 {
    color: $secondarycolor;
    font-size: 1.25rem;
    line-height: 1.3;
    
    @include breakpoint($screen $large-minor-minor-start) {
      font-size: 1.625rem;
    }
  }
}

.entry {
  &__gradient {
    position: relative;
    top: 1vw;
    margin-bottom: 1vw;
    padding: 1rem 0;
    color: $white;

    > div {
      transform-origin: 50% 50%;
    }

    @include breakpoint($screen $navflip) {
      padding: 2rem 0;
    }
    @include breakpoint($screen $navflip) {
      margin-bottom: 0;
    }
  }

  &__leadin {
    @extend %leadin-base;

    &--gradient {
      @extend %leadin-base;
      @extend %gradient-position-base;
    }
  }

  &__header {
    position: relative;
    top: 1vw;
    margin-bottom: 3rem;
    animation: .6s ease-out forwards fade-in-up;

    @include breakpoint($screen $medium-minor-minor-start) {
      margin-bottom: 4rem;
    }

    @include breakpoint($screen $contentwidth + 2rem) {
      margin-bottom: 5rem;
    }

    &--audience {
      margin-bottom: 2rem;
      animation: rotate-up-fade-in 1s ease-out forwards;

      @include breakpoint($screen $medium-minor-start) {
        margin-bottom: 3rem;
      }

      @include breakpoint($screen $large-minor-minor-start) {
        margin-bottom: 4rem;
      }

      @include breakpoint($screen $xlarge-start) {
        margin-bottom: 6rem;
      }

      & h4 {
        font-size: 1.25rem;
        line-height: 1.4;
        color: $secondarycolor;

        @include breakpoint($screen $large-start) {
          max-width: 80%;
          font-size: 1.5rem;
        }
      }
    }
  }


  &__body {
  
  }
}

.entry__title {
  margin-bottom: 0;
  padding-bottom: 0;
  color: $primarycolor;
  font-family: $font-bold;
  line-height: 1.2;
  border-bottom: none;

  @include breakpoint($screen $large-start) {
    font-size: 2.33rem;
  }

  @include breakpoint($screen $large-minor-minor-start) {
    font-size: 3rem;
  }

  &--error {
    text-align: center;
  }

  &--audience {

    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    font-family: $font-bold;
    font-size: calc(20vw - .5rem);
    letter-spacing: -2.5px;

    @include breakpoint($screen $medium-start) {
      font-size: calc(20vw - 1rem);
      letter-spacing: -4px;
    }

    @include breakpoint($screen $large-start) {
      font-size: 13vw;
      letter-spacing: -5px;
    }

    @include breakpoint($screen $large-minor-start) {
      letter-spacing: -7px;
    }

    @include breakpoint($screen $xlarge-start) {
      letter-spacing: -9px;
    }

    @include breakpoint($screen $xlarge-minor-start) {
      letter-spacing: -11px;
    }

    @include breakpoint($screen $xxlarge-start) {
      font-size: 12rem;
    }

    &:after {
      content: "";
      @extend %splash-border-base;
      left: 50%;
      right: 0;
      bottom: 0;
      width: 120vw;
      z-index: 2;
      transform-origin: 0 0;
      animation: slide 26s infinite linear backwards;
      transform: translateX(-50%);

      .page-physicians & {
        background-image: linear-gradient(to right, 
                                          $secondarycolor 0%, 
                                          $physicianscolor 60%, 
                                          $secondarycolor 100%);
      }

      .page-residents & {
        background-image: linear-gradient(to right, 
                                          $secondarycolor 0%, 
                                          $residentscolor 60%, 
                                          $secondarycolor 100%);
      }

      .page-students & {
        background-image: linear-gradient(to right, 
                                          $secondarycolor 0%, 
                                          $studentscolor 60%, 
                                          $secondarycolor 100%);
      }
    }

    .page-physicians & {
      color: $physicianscolor;
    }

    .page-residents & {
      color: $residentscolor;
    }

    .page-students & {
      color: $studentscolor;
    }

  }
}

.entry-content {
  & > p:not(.nodropcap):first-of-type:first-letter {
    height: .7em;
    margin: .13em 0 -.05em 0;
    padding: 0 .1em 0 0;
    font-family: $font-light;
    font-size: 49px;
    line-height: .7em;
    float: left;
    color: $primarycolor;

    @include breakpoint($screen $large-start) {
      font-size: 53px;
    }
  }

  h3 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-family: $font-book;
    font-size: 1.5rem;
    border-bottom: 1px solid $primarycolor;

  }
}
