$footerflip: $large-start;

%col-item-base {

  @include breakpoint($screen $medium-start) {
    flex-basis: 33%;
  }

  & ul {

    margin-bottom: 1rem;

    @include breakpoint($screen $medium-start) {
      margin-bottom: inherit;
    }
  }
}

%col-item-a-base {
  font-size: .875rem;
  color: $font-color;
}

.footer {

  padding: 2rem 0;
  background-color: $extralightgray;  

}

.footer__body {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 1rem;
    right: 1rem;
    height: 1px;
    background-color: #d0d0d0;
    bottom: 0;

    @include breakpoint($screen $medium-start) {
      left: 2rem;
      right: 2rem;
    }

    /*@include breakpoint($screen $footerflip) {*/
      /*content: none;*/
    /*}*/

    @include breakpoint($screen $contentwidth + 2rem) {
       left: 0;
       right: 0;
    }
  }

  @include breakpoint($screen $footerflip) {
    flex-direction: row;
    /*border-bottom: 1px solid $bordergray;*/
  }

}

.footer__col {

  display: flex;
  flex-direction: column;
  padding: 1rem 0 0;
  text-align: center;
  justify-content: center;

  & p {
    font-size: .875rem;
  }

  @include breakpoint($screen $medium-start) {

    flex-direction: row;
    padding: 2rem 0;
    text-align: left;
  }

  @include breakpoint($screen $footerflip) {
    padding: 2rem 0 2rem 2rem;
    flex-basis: 50%;
    justify-content: flex-start;
  }

  &:first-child {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    border-bottom: 1px solid $bordergray;

    @include breakpoint($screen $medium-start) {
      padding: 2rem 0;
    }

    @include breakpoint($screen $footerflip) {

      border-bottom: none;
      padding: 2rem 2rem 2rem 0;

      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 2rem;
        bottom: 2rem;
        width: 1px;
        background-color: $bordergray;
      }
    }
  }
}


.footer__col-item {

  @extend %col-item-base;

  &:not(:last-child),
  &--highlight {
    margin-right: 0;

    @include breakpoint($screen $medium-start) {
      margin-right: 2rem;
    }
  }
  
  
  & a {
    @extend %col-item-a-base;
    font-family: $font-book;
  }

  &--highlight {

    @extend %col-item-base;

    & a {
      @extend %col-item-a-base;
      font-family: $font-medium;
    }
  }

  & a {

    @extend %col-item-a-base;
  }
}
