$hflip: $medium-minor-minor-start;
$hflip2: $large-minor-start;

%highlightable-text-base {
  font-family: $font-light;
  color: $white;
  
  @include breakpoint($screen $hflip) {
    margin-bottom: 1.3125rem;
  }
}

.highlightable {
  position: relative;
  /*margin-top: 4rem;*/
  margin-top: 0;
  /*margin-bottom: 6rem !important;*/
  margin-bottom: 8rem !important;
  text-align: center;

  @include breakpoint($screen $hflip) {
    margin-top: 4rem;
    margin-bottom: 10rem !important;
    text-align: left;
  }

//  @include breakpoint($screen $large-start) {
//    margin-top: 16rem;
//  }

  @include breakpoint($screen $hflip2) {
    height: 533px;
    margin-top: -2rem;
    margin-bottom: 4rem !important;
    /*overflow: hidden;*/
  }

  @include breakpoint($screen $contentwidth) {
    margin-top: -1rem;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: skewY($rotation) translateY(2rem);
    backface-visibility: hidden;
    background-image: linear-gradient(222deg, $primarycolor 33%, $accentcolor);
    //@extend %background-color-for-audience;
    border-top: 4px solid;

    
    &,
    #{$physicianspage} & {
      /*border-color: $residentscolor*/
      border-color: $secondarycolor
    }

    #{$studentspage} &,
    #{$residentspage} & {
      /*border-color: $primarycolor;*/
      border-color: $secondarycolor
    }

    @include breakpoint($screen $hflip) {
      top: -3rem;
      bottom: -3rem;
      background-image: linear-gradient(222deg, $primarycolor 33%, $accentcolor);
      transform: skewY($rotation);
    }

    @include breakpoint($screen $hflip2) {
      /*top: 35%;*/
      top: 19%;
      /*top: 50%;*/
      bottom: 0;
      height: 305px;
      /*height: 60%;*/
      /*transform-origin: 0 0;*/
      /*transform: skewY($rotation) translateY(-50%);*/
    }
  }
}

.highlightable__block {
  position: relative;
  z-index: 2;

  @include breakpoint($screen $hflip) {

  }

  @include breakpoint($screen $hflip2) {
    top: 50%;
    transform: translateY(-50%);
  }
}

.highlightable__body {
  position: relative;
  display: flex;
  flex-direction: column; 

  @include breakpoint($screen $hflip) {
    flex-direction: row; 
  }  
}

.highlightable__text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint($screen $hflip) {
    /*flex-basis: 32%;*/
    width: 32%;
  }

  @include breakpoint($screen $hflip2) {
    transform: translateY(-8%);
  }
}

.highlightable__header {
  margin-bottom: 1.125rem;
  line-height: 1.3;
  font-size: 1.75rem;
  font-family: $font-bold;
  color: $white;

  @include breakpoint($screen $hflip) {
    font-size: 1.5rem;
  }

  @include breakpoint($screen $hflip2) {
    /*font-size: 1.75rem;*/
    margin-bottom: .25rem;
  }
}

.highlightable__blurb {
  @extend %highlightable-text-base;
  margin-bottom: 1.625rem;
  font-size: 1.125rem;
  line-height: 1.6;

  @include breakpoint($screen $hflip) {
    font-size: 1rem;
  }

  @include breakpoint($screen $hflip2) {
    /*font-size: 1.125rem;*/
    margin-bottom: .75rem;
  }
}

.highlightable__imagecontainer {
  position: relative;
  margin-bottom: 1.625rem;
  padding: .25rem;
  /*max-width: 650px;*/
  border-radius: 1px;
  box-shadow: 0 0 13px -1px rgba(0, 0, 0, 0.32);
  background-color: $white;

  & > img {
    float: left;
  }

  @include breakpoint($screen $hflip) {
    width: 65%;
    /*flex-basis: 65%;*/
    align-self: flex-start;
    margin-right: 2rem;
    margin-bottom: 0;
    padding: .5rem;
  }

  @include breakpoint($screen $hflip2) {
    
    padding: 1rem;
    border-radius: 3px;
  }
}

.highlightable__button {

  color: $white;
  font-family: $font-bold;

  &.btn {

    &,
    #{$physicianspage} & {
      box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.58), inset 0 0 0 1px $secondarycolor;
      background-color: $secondarycolor;
      /*box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.58), inset 0 0 0 1px $accentcolor;*/
      /*background-color: $accentcolor;*/
    }

    #{$residentspage} &,
    #{$studentspage} & {
      /*box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.58), inset 0 0 0 1px $primarycolor;*/
      /*background-color: $primarycolor;*/
      box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.58), inset 0 0 0 1px $secondarycolor;
      background-color: $secondarycolor;
    }
  }

  &:hover {

    &,
    #{$physicianspage} & {
      box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.58), inset 0 0 0 1px darken($secondarycolor, 5%);
      background-color: darken($secondarycolor, 5%);
      /*box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.58), inset 0 0 0 1px darken($primarycolorlighter, 5%);*/
      /*background-color: darken($primarycolorlighter, 5%);*/
    }

    #{$residentspage} &,
    #{$studentspage} & {
      box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.58), inset 0 0 0 1px darken($secondarycolor, 5%);
      background-color: darken($secondarycolor, 5%);
      /*box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.58), inset 0 0 0 1px darken($primarycolorlighter, 5%);*/
      /*background-color: darken($primarycolorlighter, 5%);*/
    }
  }
}

