%icon-hover-scale-setup {
  transition: transform .3s;
}

%icon-opacity-scale-setup {
  transition: opacity .3s;
}

@mixin icon-block-icon {

  .icon-block & {
    width: 102px;
    height: 103px;
  }
}

.icon-aoa-logo {

  fill: $white;

  .navigation a & {
    @extend %icon-hover-scale-setup;
    /*@extend %icon-opacity-scale-setup;*/
  }

  .navigation a:hover & {
    @include hover-scale();
    /*opacity: .75;*/
  }

  @include breakpoint($screen $navflip) {
    fill: $aoablue;
  }
}

.icon-omed-logo-plain {

  @include breakpoint(max-width $large-minor-end) {
    position: relative;
    top: 3px;
    width: 160px;
    height: 43px;
  }

  .logo a & {
    @extend %icon-hover-scale-setup;
    /*@extend %icon-opacity-scale-setup;*/
  }

  .logo a:hover & {
    @include hover-scale(1.04);
    /*opacity: .75;*/
  }
}

.icon-omed-logo-full {

  width: 240px;

  .intro__focus & {
    position: relative;
    z-index: 1;
  }

  @include breakpoint($screen $medium-minor-start) {
    width: 300px;
  }

  @include breakpoint($screen $large-minor-minor-start) {
    width: 100%;
  }

  
}

.icon-arrow1 {

  .intro & {

    display: none;

    @include breakpoint($screen $large-start) {
      position: absolute;
      left: 50%;
      bottom: -12px;
      height: 767px;
      width: 767px;
      display: block;
      fill: $primarycolor;
      opacity: .04;
      transform: translateX(-50%);
    }
  }
}

.icon-aoa-with-tagline {

  footer & {
    width: 288px;
    height: 91px;
    padding-bottom: 1rem;
    fill: $font-color;
  }

}

.icon-audience {
  /*@extend %fill-for-audience;*/
  fill: $secondarycolor;
}

.icon-bulb {
  @include icon-block-icon;
}

.icon-microscope {
  @include icon-block-icon;
}

.icon-bubble {
  @include icon-block-icon;
}

.icon-chevron-left,
.icon-chevron-right {
  @extend %fill-for-audience;
}
