$iconblockflip: $medium-minor-start;

.icon-block {

  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;

  @include breakpoint($screen $iconblockflip) {
    
    &:nth-child(1) {
      padding-left: 0;
      padding-right: 1rem;
    }

    &:nth-child(2) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &:nth-child(3) {
      padding-left: 1rem;
      padding-right: 0;
    }
  }
}

.icon-block__blocks {

  display: flex;
  flex-direction: column;

  @include breakpoint($screen $iconblockflip) {
    flex-direction: row;
  }
}

.icon-block__icon {

  margin-bottom: 1rem;
}

.icon-block__body {

  h5 {
    @extend %color-for-audience;
    margin-bottom: .625rem;
    font-family: $font-bold;
    letter-spacing: 1px;
    font-size: 1.125rem;
    text-transform: uppercase;
    
    @include breakpoint($screen $iconblockflip) {
      
      font-size: 1.3125rem;
    }
  }

  p {
    @extend %color-for-audience;
    font-family: $font-book;
    font-size: 1rem;
    line-height: 1.4;

    @include breakpoint($screen $iconblockflip) {
      font-size: .875rem;
    }

    @include breakpoint($screen $large-start) {
      font-size: 1rem;
    }

    @include breakpoint($screen $xlarge-start) {
      font-size: 1.125rem;
    }
  }

}
