$goToTwoCol: $large-start;

%intro-block-base {

  @include breakpoint($screen $goToTwoCol) {
    flex-basis: 50%;
  }
}

.intro {
  position: relative;
  /*padding-bottom: 2rem;*/

  & h5 {
    font-size: 1.3125rem;
    font-family: $font-medium;
    line-height: 1.4;
    margin-bottom: .1875rem;
  }
}

.intro__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include breakpoint($screen $goToTwoCol) {
    flex-direction: row;
    margin-bottom: 0;
  }
}

.intro__focus {
  @extend %intro-block-base;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  @include breakpoint($screen $medium-minor-start) {
    margin-bottom: 2rem;
  }

  @include breakpoint($screen $large-start) {
    margin-bottom: 0;
  }

  @include breakpoint($screen $goToTwoCol) {
    &:before {
      /*content: "";*/
      position: absolute;
      top: -250px;
      bottom: 4px;
      right: 50%;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      border-right: 1px dotted $primarycolor;
    }
  }
}

.intro__context {
  @extend %intro-block-base;
  @include edge-spacing();
  position: relative;
  z-index: 1;

  @include breakpoint($screen $large-start) {
    padding-left: 3.375rem;
  }

  a {
    text-decoration: none;
    /*transition: opacity .2s linear;*/
  }

  ul li a:hover {

    /*opacity: .7;*/

    & > span.arrow {
      transform: translateX(3px);
    }
  }

  ul li a > span.arrow {
    font-family: $font-light;
    display: inline-block;
    position: relative;
    top: -1px;
    margin-left: 2px;
    margin-right: .8125rem;
    font-size: 1.25rem; 
    color: $secondarycolor;
    transform: translate3d(0);
    transition: transform .2s linear;
    will-change: transform;
  }

  & .menu {
    margin-bottom: 0;
  }
}

.intro__button {
  position: relative;
  top: 0;
  text-align: center;

  @include breakpoint($screen $goToTwoCol) {
    top: 108px;
  }
}
