%map-base {
  width: 100%;
  margin: 1.5rem 0;
}

.map {
  @extend %map-base;
  height: 200px;
}

.map-items {
  @extend %map-base;
  height: 500px;
}

#mapItems .map-info-window {
  font-size: 14px;
  font-family: $font-book;
  line-height: 1.4;

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin-bottom: 4px;
    font-family: $font-bold;
    font-size: 14px;
  }

  & p {
    margin-bottom: 0;
    font-size: 14px;
  }
}
