$splash-line-height-small: 1.5;
$gradientslideduration: 108s;

%splash-base {
  position: relative;
  /*height: 50vh;*/
  height: 325px;
  margin-bottom: 1rem;
  font-size: 1em;
  font-family: $font-book;
  overflow: hidden;

  @include breakpoint($screen $medium-minor-minor-start) {
    height: 400px;
    margin-bottom: 3rem;
  }

  @include breakpoint($screen $large-start) {
    height: 500px;
    margin-bottom: 5rem;
  }

  @include breakpoint($screen $large-minor-minor-start) {
    height: 650px;
  }
}

%splash-after-base {
  content: "";
  position: absolute;
  top: 100%;
  left: -5%;
  right: -5%;
  height: 10rem;
  background-color: $white;
  transform-origin: 0 0;
  animation: rotate-up .8s cubic-bezier(0,.5,0,1) forwards;
}

%splash-before-base {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
}

%splash-border-base {
  position: absolute;
  height: 4px;
  background-size: 100vw 100vw;
  backface-visibility: hidden;
  
  @include breakpoint($screen $navflip) {
    height: 12px;
  }
}

.splash {
  @include breakpoint($screen $large-minor-minor-start) {
    /*top: $navbarheight;*/
    margin-bottom: 4.5rem;
  }

  &--nomargin {
    margin-bottom: 0 !important;
  }

  &--home-page {
    @extend %splash-base;

    &:before {
      @extend %splash-before-base;
      /*background-image: url(public/images/splash-festival-1.jpg);*/
      /*background-image: url(public/images/splash-san-diego-1.jpg);*/
      /*background-image: url(public/images/splash-students-2.jpg);*/
      /*background-image: url(public/images/splash-students-3.jpg);*/
      /*background-image: url(public/images/saturday-861-2.jpg);*/
      //background-image: url(public/images/omed-group-4.jpg);
      //background-image: url(public/images/omed-2018-39.jpg);
      background-image: url(public/images/omed-2018-1.jpg);
      background-size: cover;
      background-position: left top;
      background-repeat: no-repeat;
      animation: fade-in-slide-down 2s cubic-bezier(0, 0.5, 0, 1) forwards;

      @include breakpoint($screen $medium-minor-start) {
        background-position: center 50%;
      }

      @include breakpoint($screen $medium-minor-minor-start) {
        /*background-position: center 40%;*/
      }

      @include breakpoint($screen $large-start) {
        background-position: center 40%;
      }
    }

    &:after {
      @extend %splash-after-base;
    }
  }
}

.splash__content {
  position: relative;
  height: 100%;
}

.splash__block {
  position: absolute;
  left: auto;
  bottom: 0;
  width: 100%;
  height: 43%;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 6.5rem;
  padding-left: 1rem;
  background-color: $white;
  opacity: .8;
  color: $primarycolor;
  transition: opacity .3s ease-out;

  .splash__content a:hover & {
    opacity: .95;
  }

  @include breakpoint($screen $medium-start) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  @include breakpoint($screen $medium-minor-start) {
    height: 30%;
    width: auto;
    left: 2rem;
    right: 2rem;
    padding-bottom: 7.5rem;
    /*border-top-right-radius: 55px;*/
  }

  @include breakpoint($screen $large-start) {
    right: 50%;
    height: 40%;
    //border-top-right-radius: 65px;
    border: 1px solid $secondarycolor;
  }

  @include breakpoint($screen 1040px) {
    right: 57%;
    left: 0;
    /*border-top-right-radius: 85px;*/
  }
  
}

.splash__header > a,
.splash__header {
  margin-bottom: 0;
  padding: 0;
  font-family: $font-medium;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.2;
  color: $secondarycolor;
  border: 0;

  @include breakpoint($screen $large-start) {
    margin-bottom: .5rem;
    font-family: $font-bold;
    //font-size: 2rem;
    font-size: 2.5rem;
    letter-spacing: -.5px;
    word-spacing: -3px;
  }

  @include breakpoint($screen $large-minor-minor-start) {
    font-size: 2.25rem;
  }
}

.splash__body {
  width: 100%;
  line-height: $splash-line-height-small;
  //font-family: $font-book;
  color: inherit;

  @include breakpoint($screen $medium-minor-start) {
    /*width: 80%;*/
  }

  @include breakpoint($screen $large-start) {
    //font-family: $font-light;
    /*width: 100%;*/
  }

  @include breakpoint($screen $large-minor-minor-start) {
    font-size: 1.3125rem;
    //font-size: 1.5625rem;
  }

  /*@include breakpoint($screen $large-start) {*/
    /*width: 50%;*/
  /*}*/
}


.splash__border--top {
  @extend %splash-border-base;
  top: 0;
  left: 0;
  right: 0;
  background-color: $secondarycolor;

  @include breakpoint($screen $navflip) {
    background-image: linear-gradient(to right, 
                                      $primarycolor 0%, 
                                      $primarycolor 7.5%, 
                                      $secondarycolor 25%, 
                                      $accentcolor 50%,
                                      $secondarycolor 75%,
                                      $primarycolor 92.5%,
                                      $primarycolor 100%);
    animation: slide $gradientslideduration infinite linear forwards;
  }

}

.splash__border--bottom {
  @extend %splash-border-base;
  left: -5%;
  right: -5%;
  bottom: 0;
  z-index: 2;
  background-color: $secondarycolor;
  transform-origin: 0 0;
  animation: rotate-up .8s cubic-bezier(0,.5,0,1) forwards;

  @include breakpoint($screen $navflip) {
    background-image: linear-gradient(to right, 
                                      $secondarycolor 0%, 
                                      $secondarycolor 7.5%, 
                                      $primarycolor 25%, 
                                      $accentcolor 50%,
                                      $primarycolor 75%,
                                      $secondarycolor 92.5%,
                                      $secondarycolor 100%);
    animation: rotate-up .8s cubic-bezier(0,.5,0,1) forwards, 
               slide $gradientslideduration infinite linear forwards;
  }
}


