.tag {
  display: inline-block;
  height: 2em;
  padding-left: .75rem;
  padding-right: .75rem;
  background-color: $accentcolor;
  border-radius: 7px;
  color: $white;
  font-size: 0.75rem;
  line-height: 2;
  letter-spacing: .25px;
  white-space: nowrap;
  vertical-align: middle;
}
